
.header1{


text-align: center;
color:grey;
font-weight: bold;
 
margin-top: 10px;
width: 50%;

}
.parra1{
    position: relative;
    right: 100px;
    width: 550px;
    height: 450px;
   border: rgb(255, 255, 255) solid;
   padding: 2%;
   padding-left: 5%;
   margin-left: 10%;
    font-size: 145%;
    font-weight: bold;
    font-family: Gabriola;
    border-radius: 50px;
    text-align: center;
    background-image: url(./images/background.jpg);
    color: rgb(255, 255, 255);
    
    
   

}
.header2{
    margin-left: 10%;
    color:rgb(133, 132, 132);
    font-weight: bold;
    font-size: large;
    
}
.imageAlja{
    position: relative;
    top: 50px;
    border-radius: 200px ;
    width: 25%;
    right: 200px;
    float: right;
    
}
.imageAlja1{
    position: relative;
    bottom: 10px;
    left: 250px;
    border-radius: 200px ;
    width: 30%;
    
    float: right;
    
}