html, body {
    height: 100%;
}
body {
    background: #001d38;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

.navbar-brand>img{
    width: 10%;
    border-radius: 50%;
}
.bg-light{
    padding-left: 10%;
    padding-right: 5%;

}
.navbar-nav{
    margin-left: 0px;
}
#home{
    position: relative;
    right: 700px;
    
}
#about{
    position: relative;
    right: 300px;
    
}