footer{
    background-color: #F8F9FA;
}
.row>img{
    border-radius: 50%;
}
div>a{
    text-decoration: none;
    color: #54A6EA;
    font-weight: bold;
    font-size: large;
    font-family: SimSun-ExtB;
    
}
.mb-md-0{
    margin-right: 16%;
}
.w-100{
    border-radius: 30%;
}
.p-3{
    color: #54A6EA;
}
.ext-black{
    color: #54A6EA;
}