
.Title>img{
margin-top: 2%;
 width: 1450px;
 height:500px;

}
.Title{
    background-color: white;

}
.Title>h1{
    text-align: center;
   font-weight: bold;
   color: rgb(7, 7, 94);
   margin-top: 2%;

}
.Next{
    position: relative;
    bottom: 10px;
    
    text-align: right;
    animation: mymove 5s infinite;
  animation-delay: 2s;
}

@keyframes mymove {
  from {left: 200px;}
  to {left: 500px;}
}

    

.Next::after{
    content: "> Dessai Kibeho";
   
}
