
body {
    background: #001d38;
    font-family: "Poppins", sans-serif;
  
}
.bg-light{
    padding: 2px;
}
.navbar-brand{
    padding: -200px;
}
.navbar-brand>img{
    width: 20%;
    
    border-radius: 70px;
    padding: 0%;
}
.bg-light{
    padding-left: 10%;
    padding-right: 5%;

}
.navbar-nav{
    margin-left: 0px;
}
#home{
    position: relative;
    right: 700px;
    
}
#about{
    position: relative;
    right: 300px;
    
}